@media (min-width: 768px) {
  .main-mobile {
    display: none;
  }

  .upper-footer {
    display: block;
    background-color: black;
  }

  .main-bg-desktop {
    display: block;
    height: 50vh;
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-desktop {
    display: block;
  }

  .header-mobile {
    display: none;
  }
}

@media (min-width: 1023px) {
  .middle-footer {
    display: block;
    background-color: black;
  }

  .f-ms-bottom {
    display: none;
  }

  .f-lg-bottom {
    display: block;
  }

  .search-btn-footer {
    height: 2em;
    border: solid gray 1px;
  }

  .header-desktop {
    font-size: 1.2em;
  }
}
