* {
  margin: 0;
  padding: 0;
}

.red-bg {
  background-color: rgb(212, 87, 74);
}

.blue-bg {
  background-color: rgb(81, 156, 216);
}

.gray-bg {
  background-color: rgb(230, 230, 230);
}

.yellow-bg {
  background-color: rgb(230, 172, 91);
}

.form-bg {
  background-color: rgba(233, 232, 232, 0.8);
}

.bottom-footer-bg {
  background-color: rgb(31, 31, 31);
}

.upper-footer {
  display: none;
}

.main-ms-txt {
  font-size: 1em;
}

.search-btn {
  width: 200px;
}

.search-btn-main {
  height: 2em;
}

.main-bg-mobile {
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.apt1-bg {
  background-image: url(../images/apt-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search-size {
  margin-bottom: 20px;
  width: 320px;
  height: 200px;
}

.main-bg-desktop {
  display: none;
}

.header-desktop {
  display: none;
}

.header-text {
  font-size: .7em;
  padding-left: 5px;
}

.title-steps {
  font-size: 1em;
  color: rgb(212, 87, 74);
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.mw-main {
  max-width: 100vh;
}
